* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        45deg,
        #20104F,
        #20407F,
        #001030,
        #012F4F,
        #101030
    );
    background-size: 580% 580%;
    animation: backcolor 28s ease-in-out infinite;
    padding-top: 100px;
}

@keyframes backcolor {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}




